body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', Arial, sans-serif;
    color: rgba(147, 185, 254, 0.9);
    background-color:#fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px rgba(255,255,255, 0.5);
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(147, 185, 254, 0.9);
    font-family: 'Raleway', Arial, sans-serif;
}

h2 {
    color: white;
    font: 250px/1 'Spirax', cursive;
    text-transform: none;
    font-size: larger;
}

p {
    color: white;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', Arial, sans-serif;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #2c3e50;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

section h1,h3,h4,h5,h6 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: transparent;
    background: transparent;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: transparent;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    background-color: transparent;
}

.scroll-top .btn:focus {
    outline: 0;
}